In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

In [2]:
mt5.last_error()

(0, '')

In [3]:
mt5.initialize()

True

EXTRACT ACCOUNT INFO

In [4]:
# mt5.shutdown()
mt5.account_info()

AccountInfo(login=68704070, trade_mode=0, leverage=100, limit_orders=200, margin_so_mode=0, trade_allowed=True, trade_expert=True, margin_mode=2, currency_digits=2, fifo_close=False, balance=99998.74, credit=0.0, profit=0.0, equity=99998.74, margin=0.0, margin_free=99998.74, margin_level=0.0, margin_so_call=50.0, margin_so_so=30.0, margin_initial=0.0, margin_maintenance=0.0, assets=0.0, liabilities=0.0, commission_blocked=0.0, name='David Coleman', server='MetaQuotes-Demo', currency='USD', company='MetaQuotes Software Corp.')

In [5]:
info = mt5.account_info()
info.balance

99998.74

EXTRACT SYMBOL INFO

In [6]:
""""SYMBOL INFO"""
mt5.symbol_info("EURUSD")

SymbolInfo(custom=False, chart_mode=0, select=True, visible=True, session_deals=0, session_buy_orders=0, session_sell_orders=0, volume=0, volumehigh=0, volumelow=0, time=1682050229, digits=5, spread=0, spread_float=True, ticks_bookdepth=10, trade_calc_mode=0, trade_mode=4, start_time=0, expiration_time=0, trade_stops_level=0, trade_freeze_level=0, trade_exemode=1, swap_mode=1, swap_rollover3days=3, margin_hedged_use_leg=False, expiration_mode=15, filling_mode=1, order_mode=127, order_gtc_mode=0, option_mode=0, option_right=0, bid=1.09723, bidhigh=1.09726, bidlow=1.09618, ask=1.09723, askhigh=1.09759, asklow=1.09619, last=0.0, lasthigh=0.0, lastlow=0.0, volume_real=0.0, volumehigh_real=0.0, volumelow_real=0.0, option_strike=0.0, point=1e-05, trade_tick_value=1.0, trade_tick_value_profit=1.0, trade_tick_value_loss=1.0, trade_tick_size=1e-05, trade_contract_size=100000.0, trade_accrued_interest=0.0, trade_face_value=0.0, trade_liquidity_rate=0.0, volume_min=0.01, volume_max=500.0, volume_step=0.01, volume_limit=0.0, swap_long=-0.7, swap_short=-1.0, margin_initial=0.0, margin_maintenance=0.0, session_volume=0.0, session_turnover=0.0, session_interest=0.0, session_buy_orders_volume=0.0, session_sell_orders_volume=0.0, session_open=1.09646, session_close=1.09698, session_aw=0.0, session_price_settlement=0.0, session_price_limit_min=0.0, session_price_limit_max=0.0, margin_hedged=100000.0, price_change=0.0228, price_volatility=0.0, price_theoretical=0.0, price_greeks_delta=0.0, price_greeks_theta=0.0, price_greeks_gamma=0.0, price_greeks_vega=0.0, price_greeks_rho=0.0, price_greeks_omega=0.0, price_sensitivity=0.0, basis='', category='', currency_base='EUR', currency_profit='USD', currency_margin='EUR', bank='', description='Euro vs US Dollar', exchange='', formula='', isin='', name='EURUSD', page='http://www.google.com/finance?q=EURUSD', path='Forex\\EURUSD')

In [7]:
symbol = mt5.symbol_info("EURUSD")
symbol.bid

1.09722

In [8]:
symbol.ask

1.09723

In [9]:
symbol.spread

1

EXTRACT BOOK ORDERS

In [10]:
# To add a book order
mt5.market_book_add("EURUSD")

True

In [11]:
#To get a book order
mt5.market_book_get("EURUSD")

()

In [12]:
#To close book order connection
mt5.market_book_release("EURUSD")

True

ADD SYMBOL(e.g:"EURUSD,USDJPY etc") TO MARKET WATCH

In [13]:
#Add symbol to market watch
mt5.symbol_select("SP500m")

True

IMPORT TICK DATA

In [14]:
#I think we would have to intialize the function again
mt5.initialize()

True

In [15]:
#Now we import the ticks from a specfic date
#Calculate now date
from_date = datetime(2023,1,1)


#Extract n ticks before now
ticks = mt5.copy_ticks_from("EURUSD",from_date,10,mt5.COPY_TICKS_ALL)

df_ticks = pd.DataFrame(ticks)
df_ticks["time"] = pd.to_datetime(df_ticks["time"],unit="s")
df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-01-02 07:02:24,1.07016,1.07025,0.0,0,1672642944663,134,0.0
1,2023-01-02 07:02:24,1.07017,1.07024,0.0,0,1672642944663,134,0.0
2,2023-01-02 07:05:00,1.07015,1.07022,0.0,0,1672643100854,134,0.0
3,2023-01-02 07:06:09,1.07014,1.07021,0.0,0,1672643169798,134,0.0
4,2023-01-02 07:08:05,1.06986,1.06993,0.0,0,1672643285561,134,0.0
5,2023-01-02 07:08:05,1.06976,1.06983,0.0,0,1672643285618,134,0.0
6,2023-01-02 07:08:05,1.06975,1.06982,0.0,0,1672643285700,134,0.0
7,2023-01-02 07:08:05,1.06969,1.06976,0.0,0,1672643285700,134,0.0
8,2023-01-02 07:08:06,1.06967,1.06974,0.0,0,1672643286407,134,0.0
9,2023-01-02 07:08:06,1.06956,1.06963,0.0,0,1672643286766,134,0.0

IMPORT TICKS RANGES

In [16]:
#Compute now date
from_date = datetime(2022,1,5)
to_date = datetime(2022,1,6)

# #Extract n Ticks before now
ticks = mt5.copy_ticks_range("EURUSD",from_date,to_date,mt5.COPY_TICKS_ALL)
# # #Transform Tuple into a Dataframe
df_ticks = pd.DataFrame(ticks)

# # # #Change time format
df_ticks["time"] = pd.to_datetime(df_ticks["time"],unit="s")
df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2022-01-05 00:00:00,1.12852,1.12883,0.0,0,1641340800114,134,0.0
1,2022-01-05 00:00:00,1.12845,1.12897,0.0,0,1641340800443,134,0.0
2,2022-01-05 00:00:01,1.12845,1.12898,0.0,0,1641340801966,4,0.0
3,2022-01-05 00:00:02,1.12830,1.12895,0.0,0,1641340802012,134,0.0
4,2022-01-05 00:00:06,1.12831,1.12896,0.0,0,1641340806341,134,0.0
...,...,...,...,...,...,...,...,...
62581,2022-01-05 23:59:59,1.13136,1.13151,0.0,0,1641427199344,134,0.0
62582,2022-01-05 23:59:59,1.13134,1.13149,0.0,0,1641427199617,134,0.0
62583,2022-01-05 23:59:59,1.13133,1.13148,0.0,0,1641427199663,134,0.0
62584,2022-01-05 23:59:59,1.13134,1.13149,0.0,0,1641427199767,134,0.0
62585,2022-01-05 23:59:59,1.13135,1.13150,0.0,0,1641427199867,134,0.0

IMPORT RATES DATA

In [17]:
#Compute now date
from_date = datetime.now()

#Extract n Ticks before now
rates = mt5.copy_rates_from("EURUSD",mt5.TIMEFRAME_D1,from_date,21)

#Transform tuple to df
df_rates = pd.DataFrame(rates)

#Convert time format
df_rates["time"] = pd.to_datetime(df_rates['time'],unit='s')

df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-03-24,1.08320,1.08384,1.07124,1.07601,107212,0,0
1,2023-03-27,1.07706,1.08001,1.07451,1.07977,73682,0,0
2,2023-03-28,1.07974,1.08486,1.07934,1.08444,65412,0,0
3,2023-03-29,1.08454,1.08717,1.08178,1.08444,69762,0,0
4,2023-03-30,1.08432,1.09263,1.08237,1.09050,70017,0,0
5,2023-03-31,1.09044,1.09257,1.08363,1.08429,71293,0,0
6,2023-04-03,1.08398,1.09167,1.07882,1.09031,78371,0,0
7,2023-04-04,1.09015,1.09733,1.08830,1.09560,73385,0,0
8,2023-04-05,1.09547,1.09696,1.08911,1.09056,68562,0,0
9,2023-04-06,1.09063,1.09377,1.08846,1.09192,55836,0,0
10,2023-04-07,1.09198,1.09240,1.08757,1.08984,23716,0,0
11,2023-04-10,1.08953,1.09173,1.08313,1.08613,45051,0,0
12,2023-04-11,1.08599,1.09282,1.08458,1.09131,58069,0,0
13,2023-04-12,1.09122,1.10004,1.09060,1.09914,61907,0,0
14,2023-04-13,1.09903,1.10678,1.09766,1.10473,58269,0,0
15,2023-04-14,1.10462,1.10759,1.09724,1.09946,67756,0,0
16,2023-04-17,1.09886,1.09998,1.09093,1.09287,59290,0,0
17,2023-04-18,1.09269,1.09830,1.09202,1.09723,55761,0,0
18,2023-04-19,1.09728,1.09840,1.09174,1.09558,61815,0,0
19,2023-04-20,1.09545,1.09898,1.09335,1.09698,61734,0,0
20,2023-04-21,1.09698,1.09726,1.09618,1.09722,3355,0,0

CHAPTER 03: SEND ORDERS

In [18]:
#Choose the symbol
symbol = "EURUSD"

#Choose the lot
lot = 0.1

#Choose the deviation
deviation = 10

#Find the filling mode of the symbol given
filling_type = mt5.symbol_info(symbol).filling_mode

request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_BUY,

         ###Focus on this price #########
    "price": mt5.symbol_info_tick(symbol).ask,
    
    # "sl": price - 100 * point,
    # "tp": price + 100 * point,
    "deviation": deviation,
    # "magic": 234000,
    "comment": "python script open",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": filling_type,
}

mt5.order_check(request)

OrderCheckResult(retcode=0, balance=99998.74, equity=99998.74, profit=0.0, margin=109.72, margin_free=99889.02, margin_level=91139.93802406125, comment='Done', request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.09722, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=1, type_time=0, expiration=0, comment='python script open', position=0, position_by=0))

CREATE BUY ORDER

In [19]:
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_BUY,

         ###Focus on this price #########
    "price": mt5.symbol_info_tick(symbol).ask,
    
    # "sl": price - 100 * point,
    # "tp": price + 100 * point,
    "deviation": deviation,
    # "magic": 234000,
    "comment": "python script open",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": filling_type,
}

mt5.order_send(request)

OrderSendResult(retcode=10009, deal=1651478517, order=1673835607, volume=0.1, price=1.09722, bid=1.09721, ask=1.09722, comment='Request executed', request_id=2617151224, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.09722, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=1, type_time=0, expiration=0, comment='python script open', position=0, position_by=0))

CLOSE A BUY ORDER

In [20]:
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
     ###change order type to the opposite 
    "type": mt5.ORDER_TYPE_SELL,

         ###Focus on this price we change it to the opposite ask/bid#########
    "price": mt5.symbol_info_tick(symbol).bid,
###position numbers is from order in the returned values of CREATE BUY ORDER#####
    "position":1671609612,
    
    # "sl": price - 100 * point,
    # "tp": price + 100 * point,
    "deviation": deviation,
    # "magic": 234000,
    "comment": "python script open",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": filling_type,
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.09721, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=1, type_filling=1, type_time=0, expiration=0, comment='python script open', position=1671609612, position_by=0))

CREATE A SELL ORDER

In [21]:
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_SELL,

         ###Focus on this price #########
    "price": mt5.symbol_info_tick(symbol).bid,
    
    # "sl": price - 100 * point,
    # "tp": price + 100 * point,
    "deviation": deviation,
    # "magic": 234000,
    "comment": "python script open",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": filling_type,
}

mt5.order_send(request)

OrderSendResult(retcode=10009, deal=1651478518, order=1673835608, volume=0.1, price=1.09721, bid=1.09721, ask=1.09722, comment='Request executed', request_id=2617151225, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.09721, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=1, type_filling=1, type_time=0, expiration=0, comment='python script open', position=0, position_by=0))

CLOSE SELL ORDER

In [22]:
request = {
    "action": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    ###change order type to the opposite 
    "type": mt5.ORDER_TYPE_BUY,

         ###Focus on this price we change it to the opposite ask/bid#########
    "price": mt5.symbol_info_tick(symbol).ask,
    ###position numbers is from order in the returned values of CREATE BUY ORDER#####
    "position":1671532959,
    
    # "sl": price - 100 * point,
    # "tp": price + 100 * point,
    "deviation": deviation,
    # "magic": 234000,
    "comment": "python script open",
    "type_time": mt5.ORDER_TIME_GTC,
    "type_filling": filling_type,
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.09722, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=1, type_time=0, expiration=0, comment='python script open', position=1671532959, position_by=0))

AUTOMATE BUY SELL ORDER CREATION AND CLOSING

In [23]:
def send_order(symbol,lot,buy,sell,id_position = None, comment = "No specific comment",magic=0,deviation=10):
    #Intialize connection between python and mt5
    mt5.initialize()

    #Extract filling_mode
    filling_type = mt5.symbol_info(symbol).filling_mode

    """OPEN A TRADE"""  
    if buy and id_position == None:
        request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    "type": mt5.ORDER_TYPE_BUY,

                        ###Focus on this price #########
                    "price": mt5.symbol_info_tick(symbol).ask,
                    
                    # "sl": price - 100 * point,
                    # "tp": price + 100 * point,
                    "deviation": deviation,
                    "magic":magic,
                    "comment": comment,
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }
        result = mt5.order_send(request)
        return result
    
    if sell and id_position == None:
        request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    "type": mt5.ORDER_TYPE_SELL,

                    ###Focus on this price #########
                    "price": mt5.symbol_info_tick(symbol).bid,
                        
                    # "sl": price - 100 * point,
                    # "tp": price + 100 * point,
                    "deviation": deviation,
                    "magic": magic,
                    "comment": comment,
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }

        result = mt5.order_send(request)
        return result
    
    """CLOSE ORDER"""
    
    if buy and id_position != None:
        request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    ###change order type to the opposite 
                    "type": mt5.ORDER_TYPE_SELL,

                        ###Focus on this price we change it to the opposite ask/bid#########
                    "price": mt5.symbol_info_tick(symbol).bid,
                    ###position numbers is from order in the returned values of CREATE BUY ORDER#####
                    "position":id_position,
                    
                    # "sl": price - 100 * point,
                    # "tp": price + 100 * point,
                    "deviation": deviation,
                    "magic": magic,
                    "comment": "python script open",
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }

        result = mt5.order_send(request)
        return result
    
    if sell and id_position != None:
        request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    ###change order type to the opposite 
                    "type": mt5.ORDER_TYPE_BUY,

                        ###Focus on this price we change it to the opposite ask/bid#########
                    "price": mt5.symbol_info_tick(symbol).ask,
                    ###position numbers is from order in the returned values of CREATE BUY ORDER#####
                    "position":id_position,
                    
                    # "sl": price - 100 * point,
                    # "tp": price + 100 * point,
                    "deviation": deviation,
                    "magic": magic,
                    "comment": "python script open",
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }

        result = mt5.order_send(request)
        return result

EXECUTING A BUY/SELL ORDER

In [24]:
order_open = send_order("EURUSD",0.01,True,False)

CLOSING A BUY/SELL ORDER

In [25]:
order_close = send_order("EURUSD",0.01,True,False,id_position=order_open.order)

CREATE ORDER WITH TP AND SL

Buy Order

In [35]:
lot = 0.01
symbol = "EURUSD"

point = mt5.symbol_info(symbol).point

deviation = 10

filling_type = mt5.symbol_info(symbol).filling_mode

request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    "type": mt5.ORDER_TYPE_BUY,

                        ###Focus on this price #########
                    "price": mt5.symbol_info_tick(symbol).ask,

                    ###10 is for one pip difference in the code below 
                    "sl": mt5.symbol_info_tick(symbol).ask - 10 * point,
                    "tp": mt5.symbol_info_tick(symbol).ask + 100 * point,
                    "deviation": deviation,
                    # "magic":magic,
                    # "comment": comment,
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }
mt5.order_send(request)

OrderSendResult(retcode=10009, deal=1651512229, order=1673878384, volume=0.01, price=1.09676, bid=1.0967500000000001, ask=1.09676, comment='Request executed', request_id=2617151232, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.09676, stoplimit=0.0, sl=1.09666, tp=1.0977599999999998, deviation=10, type=0, type_filling=1, type_time=0, expiration=0, comment='', position=0, position_by=0))

Sell Order

In [33]:
lot = 0.01
symbol = "EURUSD"

point = mt5.symbol_info(symbol).point

deviation = 10

filling_type = mt5.symbol_info(symbol).filling_mode

request = {
                    "action": mt5.TRADE_ACTION_DEAL,
                    "symbol": symbol,
                    "volume": lot,
                    "type": mt5.ORDER_TYPE_SELL,

                    ###Focus on this price #########
                    "price": mt5.symbol_info_tick(symbol).bid,
                        
                    "sl": mt5.symbol_info_tick(symbol).bid + 100 * point,
                    "tp": mt5.symbol_info_tick(symbol).bid - 100 * point,
                    "deviation": deviation,
                    # "magic": magic,
                    # "comment": comment,
                    "type_time": mt5.ORDER_TIME_GTC,
                    "type_filling": filling_type,
                }


result = mt5.order_send(request)