In [7]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd

IMPORT RATES DATA

In [8]:
mt5.initialize()

True

In [9]:
from_date = datetime.now()

rate = mt5.copy_rates_from("EURUSD",mt5.TIMEFRAME_D1,from_date,15)

df_rate = pd.DataFrame(rate)

df_rate["time"] = pd.to_datetime(df_rate["time"],unit="s")

df_rate

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-03-13,1.06934,1.07486,1.06504,1.07286,191578,0,0
1,2023-03-14,1.07274,1.07496,1.06790,1.07309,139807,0,0
2,2023-03-15,1.07310,1.07599,1.05160,1.05766,155778,0,0
3,2023-03-16,1.05757,1.06357,1.05507,1.06115,145541,0,0
4,2023-03-17,1.06115,1.06854,1.06081,1.06653,99112,0,0
5,2023-03-20,1.06830,1.07309,1.06313,1.07177,112944,0,0
6,2023-03-21,1.07177,1.07886,1.07041,1.07667,75277,0,0
7,2023-03-22,1.07667,1.09125,1.07592,1.08574,94444,0,0
8,2023-03-23,1.08574,1.09299,1.08242,1.08320,100584,0,0
9,2023-03-24,1.08320,1.08384,1.07124,1.07601,107212,0,0
10,2023-03-27,1.07706,1.08001,1.07451,1.07977,73682,0,0
11,2023-03-28,1.07974,1.08486,1.07934,1.08444,65412,0,0
12,2023-03-29,1.08454,1.08717,1.08178,1.08444,69762,0,0
13,2023-03-30,1.08432,1.09263,1.08237,1.09050,70017,0,0
14,2023-03-31,1.09044,1.09257,1.08642,1.08749,38014,0,0