In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd

IMPORT RATES RANGE DATA

In [2]:
mt5.initialize()

True

In [3]:
from_date = datetime(2023,1,1)
to_date = datetime(2023,2,1)

rates_range = mt5.copy_ticks_range("EURUSD",from_date,to_date,mt5.COPY_TICKS_ALL)

df_rates_range = pd.DataFrame(rates_range)

df_rates_range["time"] = pd.to_datetime(df_rates_range["time"],unit="s")
df_rates_range

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-01-02 07:02:24,1.07016,1.07025,0.0,0,1672642944663,134,0.0
1,2023-01-02 07:02:24,1.07017,1.07024,0.0,0,1672642944663,134,0.0
2,2023-01-02 07:05:00,1.07015,1.07022,0.0,0,1672643100854,134,0.0
3,2023-01-02 07:06:09,1.07014,1.07021,0.0,0,1672643169798,134,0.0
4,2023-01-02 07:08:05,1.06986,1.06993,0.0,0,1672643285561,134,0.0
...,...,...,...,...,...,...,...,...
2319297,2023-01-31 23:59:52,1.08613,1.08624,0.0,0,1675209592243,134,0.0
2319298,2023-01-31 23:59:52,1.08614,1.08625,0.0,0,1675209592857,134,0.0
2319299,2023-01-31 23:59:55,1.08615,1.08626,0.0,0,1675209595061,134,0.0
2319300,2023-01-31 23:59:55,1.08616,1.08627,0.0,0,1675209595223,134,0.0
2319301,2023-01-31 23:59:55,1.08614,1.08629,0.0,0,1675209595573,134,0.0