In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd

IMPORT TICK RANGE DATA

In [2]:
mt5.initialize()

True

In [3]:
from_date = datetime(2022,1,1)
to_date = datetime(2022,2,2)

tick_range = mt5.copy_ticks_range("EURUSD",from_date,to_date,mt5.COPY_TICKS_ALL)

df_tick_range = pd.DataFrame(tick_range)

df_tick_range["time"] = pd.to_datetime(df_tick_range["time"],unit="s")

df_tick_range

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2022-01-03 00:05:00,1.13693,1.13758,0.0,0,1641168300139,134,0.0
1,2022-01-03 00:05:01,1.13689,1.13754,0.0,0,1641168301856,134,0.0
2,2022-01-03 00:05:09,1.13688,1.13753,0.0,0,1641168309218,134,0.0
3,2022-01-03 00:05:11,1.13689,1.13754,0.0,0,1641168311268,134,0.0
4,2022-01-03 00:05:26,1.13688,1.13753,0.0,0,1641168326276,134,0.0
...,...,...,...,...,...,...,...,...
1382696,2022-02-01 23:59:50,1.12725,1.12740,0.0,0,1643759990907,134,0.0
1382697,2022-02-01 23:59:56,1.12722,1.12731,0.0,0,1643759996222,134,0.0
1382698,2022-02-01 23:59:56,1.12720,1.12731,0.0,0,1643759996261,130,0.0
1382699,2022-02-01 23:59:58,1.12717,1.12732,0.0,0,1643759998138,134,0.0
1382700,2022-02-01 23:59:59,1.12718,1.12733,0.0,0,1643759999409,134,0.0